<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <style>
        .make_box {
        background-color: {{color}};
        }
    </style>
</head>
<body>

    <!-- welcome header -->
    <h1>Welcome!!!</h1>

    <!-- container to hold and flex the boxes -->
    <div class="container"     text-align: center;>

        <!-- make the boxes based on loop from server screen loop -->
            {% for box_count in range(num|default(3)): %}
            <div class="make_box">{{ word }}</div>
            {% endfor %}

    </div>
</body>
</html>