/* style for index page */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:3% 5%;
    background-image: url(https://vastphotos.com/files/uploads/photos/11267/sedona-panorama-photo-l.jpg?v=20220712073521);
    background-position: center;
    background-size:cover ;
    background-repeat: no-repeat;
}

.nav_title {
    color:wheat
}

.nav_links {
    display: flex;
    flex-direction: column;
}

main {
    background-color:wheat;
    min-height: 100vh;
    height:100%;
    width: 100vw;
}

.link {
    text-decoration: none;
    color:sienna
}

.wrapper {
    width: 70%;
    margin-left: 5%;
    margin-top: 10px;
    padding: 10px;
    display: flex;
    /* justify-content: space-evenly; */
    flex-wrap: wrap;
}

.profile_info {
    min-width: 40%;
    display: flex;
    justify-content: space-between;
    border: 3px solid lightgray;
    padding:5px;
}

/* .scrollable {
    scroll
} */

.left_box,.right_box {
    min-width: 300px;
    min-height: 170px;
    width: 40%;
}

.image_box {
    margin: 0 auto;
    min-width: 25%;
    padding:2%;
}

.profile_img {
    height: 200px;
    border: 3px solid black;
    border-radius: 100%;
}

.spacer {
    width: 80%;
    margin:2% auto;
}

.friend_list {
    margin:0 auto;
    padding: 2%;
    width: 30%;
    display: flex;
    justify-content: space-evenly;
}

.my_activities {
    padding:0 10%;
}

.friend_zone {
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.friend_left {
    width: 60%;
}

.friend_right {
    width: 40%;
}

.find_friend {
    background-color: sienna;
    padding:5px;
    margin-right: 10px;
    margin-top: 5px;
    height: 50px;
    width: 125px;
}
