<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read(All)</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body class="body">
    <!-- nav bar -->
    <nav class="navbar">
        <div class="container-fluid">
            <a id="navText" class="navbar-brand fs-2">All Users</a>
        </div>
    </nav><!-- nav bar END -->
    <!-- container -->
    <div class="wrapper">
        <!-- table -->
        <table class="table table-hover">
            <tr>
                <th>ID</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Created At</th>
                <th>Actions</th>
            </tr>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.first_name }} {{ user.last_name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.created_at.strftime("%B %e, %Y") }}</td>
                <td>
                    <button class="input"><a id="link" href="/users/read/{{user.id}}">Show</a></button>
                    <button class="input"><a id="link" href="/users/edit/{{user.id}}">Edit</a></button>
                    <button class="input"><a id="link" href="/users/delete/{{user.id}}">Delete</a></button>
                </td>
            </tr>
            {% endfor %}
        </table><!-- Table END -->
        <!-- create button -->
        <button class="input2">
            <a id="link" href="/users/create">Add A New User</a>
        </button><!-- button END -->
    </div>
</body>
</html>