<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

</head>
<body>
    <!-- container -->
    <main class="bg-secondary border border-5 border-dark text-start text-white">
        <!-- survay header -->
        <h3 class="text-warning">Dojo Survey</h3>
        <!-- name input -->
        <form action="/process" method='post'>
            <div ><label for='name'>Name:</label></div>
            <div >
                <input type='text' name='name'placeholder="Your name..." id="name" >
            </div><!-- end name input -->
            <!-- location drop down -->
            <div ><label for="dojoLocation" >Dojo Location</label></div>
            <div>
                <select name="dojoLocation" class="d-block p-2 text-bg-white" id="location">
                    <option value="">--Please Select A Location--</option>
                    <option>Chicago</option>
                    <option>Seattle</option>
                    <option>Online</option>
                    <option>Burbank</option>
                    <option>Bellevue</option>
                </select>
            </div><!-- end location drop down -->
            <!-- language drop down -->
            <div><label for="favLang">Favorite Language</label></div>
            <div>
                <select name="favLang" class="d-block p-2 text-bg-white" id="language">
                    <option value="">--Please Select A Language--</option>
                    <option>HTML</option>
                    <option>CSS</option>
                    <option>JavaScript</option>
                    <option>Python</option>
                    <option>C#</option>
                </select>
            </div><!-- end language drop down -->
            <!-- comments -->
            <div>Comments</div>
            <div> 
                <textarea name="comment" cols="20" rows="6" placeholder="comments..." id="comments"></textarea>
            </div><!-- end comments -->
            <!-- sensei bonus - check box -->
            <div>
                <input type="checkbox" name="spam" value="Yes"unchecked>
                <label for="spam">Please sign me up extra for language info</label>
                <input type='hidden' name='spam' value="No" checked>
            </div>
            <!-- ninja bonus - radio buttons -->
            <div>
                <input type="radio" id="html" name="extraLanguage" value="ruby">
                <label for="html">Ruby</label><br>
                <input type="radio" id="css" name="extraLanguage" value="MERN">
                <label for="css">MERN</label><br>
                <input type="radio" id="javascript" name="extraLanguage" value="C++">
                <label for="javascript">C++</label>
                <input type="hidden" id="none" name="extraLanguage" value="No" checked>
            </div>
            <!-- submit button -->
            <div>
                <input type='submit' value='SUBMIT' class="bg-warning">
            </div>
        </form>
    </main>
</body>
<script type="text/javascript" src="{{ url_for('static', filename='my_script.js') }}"></script>
</html>