            <!-- <td>{{ Dojo.ninja.first_name }} {{ Dojo.ninja.last_name }}</td> -->
        </tr>
        <!-- <tr class="text-start">
            <td>Email: </td>
            <td>{{ user.email }}</td>
        </tr>
        <tr class="text-start">
            <td>Created On: </td>
            <td>{{ user.created_at.strftime("%B %e, %Y") }}</td>
        </tr>
        <tr class="text-start">
            <td>Last Updated: </td>
            <td><!-- LOOP TO FIX Null on date and time -->
                <!-- {% if user.updated_at is not none %} -->
                    <!-- {{user.updated_at.strftime("%B %e, %Y")}} -->
                <!-- {% else %} -->
                    <!-- NONE -->
                    <!-- {% endif %} --> -->











                    [
                    {'id': 2, 'name': 'San Diego', 'created_at': datetime.datetime(2022, 10, 25, 15, 22, 38), 'updated_at': None, 'ninjas.id': 2, 'dojo_id': 2, 'first_name': 'chuck', 'last_name': 'norris', 'age': 53, 'ninjas.created_at': datetime.datetime(2022, 10, 25, 16, 40, 44), 'ninjas.updated_at': None}, 
                    {'id': 2, 'name': 'San Diego', 'created_at': datetime.datetime(2022, 10, 25, 15, 22, 38), 'updated_at': None, 'ninjas.id': 4, 'dojo_id': 2, 'first_name': 'chris', 'last_name': 'B-Dub', 'age': 43, 'ninjas.created_at': datetime.datetime(2022, 10, 25, 20, 34, 3), 'ninjas.updated_at': None}]
                    
