<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <style>/* STYLE OVERRIDES FROM INPUT ON URL */
        .color2, header{
        background-color: {{other_color}};
        }
        h1{
        color:{{color}};
        }
        .color1{
        background-color: {{color}};
        }
    </style>
</head>
<body>
    <!-- HEADER -->
    <header>
        <h1>***Checkerboard***</h1>
    </header>
    <main>
        <!-- CHECKERS TABLE -->
        <table>
            <!-- FOR LOOP TO MAKE ROWS BASED ON INPUT -->
            {% for i in range(num): %}
                <tr>
                    <!-- FOR LOOP TO MAKE COLUMNS BASED ON INPUT ### 8 AS DEFAULT -->
                    {% for j in range(nums|default(8)): %}
                    <td class="color{{ (i+j)%2+1}}"></td>
                    {% endfor %}
                {% endfor %}
                </tr>
        </table>
    </main>

</body>
</html>