main{
    margin: 20px;
    padding: 40px;
    text-align: center;

}
h1{
    color: red;
}


.height{
}

.width{
    display: flex;

}

.make_box1{
        height: 200px;
        width: 210px;
        background-color: red;
        margin: 10px;
        border: 5px solid black;
    }

    .make_box2{
            height: 200px;
            width: 210px;
            background-color: darkslategray;
            margin: 10px;
            border: 5px solid black;
        }